<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- permisiune de internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- permisiune de internet -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicalAppointments"
        tools:targetApi="31">
        <activity
            android:name=".ControllerActivity"
            android:exported="false" />
        <!-- activity -> name arata fisierul care contine activitatea respectiva -->
        <!-- category.LAUNCHER arata faptul ca are categoria de launcher, ii spune aplicatiei activitatea care trebuie sa porneasca atunci cand se lanseaza aplicatia -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>